---
const { chapterTitle, rubi } = Astro.props;
---

<div class="chapter-title-box">
    <h2 class="chapter-title">{chapterTitle}</h2>
    <p class="title-rubi">{rubi}</p>
</div>
<slot name="sub-menu"/>
<div class="under-chapter-title-line"></div>
<slot name="chapter-content"/>

<style>
    .chapter-title {
        margin: 1rem 0;
        color: #e86b79;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .chapter-title-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;
        width: fit-content;
    }

    .title-rubi {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        color: #E86B79;
        font-size: 0.75rem;
        margin: 0;
    }

    .title-rubi::before,
    .title-rubi::after {
        content: '';
        width: 1em;
        height: 1px;
        background: #E86B79;
        margin: 0 0.5em;
    }


</style>
