---
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";
---
<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 3vw;
        background-color: #515050;
        color: #F5F5F5;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vh 0;

    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .footer-top img {
        height: 3rem;
    }

    .footer-element {
        margin: 5vh 0;
        color: #F5F5F5;
        font-weight: normal;
        font-family: var(--font-family-en);
    }

    .footer-nav a{
        color: #F5F5F5;
    }

    .social-media-links {
        display: flex;
        flex-direction: row;
    }

    .title-text.footer-title {
        font-size: 1.7rem;
        color: #F5F5F5;
    }
</style>

<footer class="w-wrap">
    <div class="footer-box">
        <div class="footer-top footer-element">
            <div class="site-title">
                <a href="/">
                    <p class="title-text footer-title">Ryo-suke.org</p>
                </a>
            </div>
            <nav class="nav-links footer-nav">
                <!-- <a href="/">ホーム</a> -->
                <a href="/work">Works</a>
                <a href="/about/">About</a>
                <a href="/news">News</a>
                <a href="/blog/">Blog</a>
                <!-- <a href="/tags/">Tag</a> -->
            </nav>
        </div>
        <div class="social-media-links footer-element">
            <Social link="https://www.facebook.com/profile.php?id=100090539947363&locale=ja_JP" iconClass="fa-brands fa-facebook" />
            <Social link="https://github.com/jorichou" iconClass="fa-brands fa-github" />
            <!-- <Social platform="x" username="izuchi_main" iconClass="fa-brands fa-x-twitter" /> -->
            <Social link="https://www.kaggle.com/izuchi24" iconClass="fa-brands fa-kaggle" />
        </div>
        <p class="footer-element">&copy; 2025-2026 Ryousuke</p>
    </div>
    
    
</footer>