---

---

<style>
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: #E86B79;
        height: clamp(400px, 50vh, 600px);
        max-height: 800px;
        width: 100%;
        /* margin-bottom: 10vh; */
        padding: 7vw 8.5vw;
    }
    
    .message-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 5vh 0; */
    }

    .hero-message {
        color: #FAE8EA;
        font-size: 1.5rem;
        margin: 5px 0;
    }

    .hero-img {
        width: fit-content;
        margin: 5vw 0;
    }

    .hero-img img {
        width: 40vw;
    }

    @media screen and (min-width: 636px) {
        .hero {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            background-color: #E86B79;
            height: clamp(600px, 60vh, 800px);
            width: 100%;
            margin-bottom: 10vh;
            padding: 0 8.5vw;
        }
    
        .message-box {
            display: flex;
            flex-direction: column;
            justify-content: left;
        }
    
        .hero-message {
            font-size: 4vw;
            font-family: 'Noto Sans', 'Google Sans Flex', sans-selif;
        }

        .hero-img img {
            width: 22vw;
        }

    }
</style>

<div class="hero">
    <div class="message-box">
        <h1 class="hero-message">Welcome to Ryousuke's</h1>
        <h1 class="hero-message">Web Site!</h1>
    </div>
    <div class="hero-img">
        <img src="/izuchi-logo2.svg" alt="ヒーローのロゴ">
    </div>
</div>