---
---
<nav class="nav-links" id="nav-menu">
    <!-- <a href="/">ホーム</a> -->
    <a href="/work">Works</a>
    <a href="/about/">About</a>
    <a href="/news">News</a>
    <a href="/blog/">Blog</a>
    <!-- <a href="/tags/">Tag</a> -->
</nav>
