---
const {platformURL, platformName} = Astro.props;
---

<style>
    li {
        background-color: #fff;
        border-radius: 8px;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        border: 2px solid #9E9E9E;
        width: 100%;
        transition: border-color 0.5s ease;
    }

    @media screen and (min-width: 636px) and (max-width: 1024px) {
        li {
            width: calc((100% - 2rem) / 2);
        }
    }

    @media screen and (min-width: 1024px) {
        li {
            width: calc((100% - 6rem) / 4);
        }
    }

    li:hover {
        /* box-shadow:0 0 0 2px rgba(232, 107, 121, 1) */
        border: 2px solid #E86B79;
    }   

    .link-item {
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        padding: 0.7rem 2rem;
    }

    .link-item i {
        color: #707070;
        font-size: 1.3rem;
    }

    .platform-name {
        color: #707070;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: var(--font-family-en);
    }
</style>

<li>
    <a href={platformURL} class="link-item">
        <p class="platform-name">{platformName}</p>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>
</li>