---
const {link, iconClass} = Astro.props;
---
<div class="icon-size icon-box">
    <a href={link}>
        <i class={iconClass}></i>
    </a>
    
</div>



<style>
    a {
        padding: 0.5rem 1rem;
        color: #F5F5F5;
        /* background-color: #707070; */
        text-decoration: none;
    }

    i {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        justify-content: center;
    }

    .icon-size i{
        font-size: 2rem;
    }

    .icon-box {
        margin: 0 1.5rem;
    }
</style>